/* Selector {
    Property : value;
} */

* {  /* apply to all elements */
    text-align: right;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
}

h2, p {  /* мы можем добавить сразу несколько селекторов */
    color: red;
    text-align: center;
    border: 5px dashed purple;
    cursor: pointer;
}

p {
    color: green;  /*но тут р селектор уже изменит цвет */
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 20px;
    font-style: italic;
    font-weight: 900;
    font-size: 100%;
    font-family: 'Indie Flower', cursive;  
}

img {
    float: left;
}

footer {
    clear: both;
    text-align: center;
}

li{
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px solid green;
}

.active {
    color: red;
}

#div1 {
    background: cyan;
}

#div2 {
    background: plum;
}

/*
 .class - select all elements of this class;
 #id - select all elements by id;
 element1 element2 - select all element2 which are inside element1;
 element1 > element2 - select all element2 that have parrent of element1;
 element1 + element2 - select any element that are exactly after element1;
 element:hover - changes the style when курсор наводиться на элемент
 element:last-child - select the last child;
 element: first-child - select the first child;
*/