/* Selector {
    Property : value;
} */

body{
    background-image: url(background.jpg);
    background-size: cover;
}

h2, p {  /* мы можем добавить сразу несколько селекторов */
    color: red;
    text-align: center;
    border: 5px dashed purple;
    cursor: pointer;
}

p {
    color: green;  /*но тут р селектор уже изменит цвет */
}

li{
    list-style: none;
    display: inline-block;
}