h2 {
    color: blue;
}

.boxmodel {
    border: 5px solid red;
    display: inline-block;
    padding: 5px 20px 5px 20px; /* top right bottom left*/
    margin-right: 20px;
   /* width: 33px;
    height: 55px; */
}